<template name="Navigation">
  <core-toolbar class="black">
    {{#if showMenuButton}}
      <div class="menu-button">
        <paper-icon-button id="toggle-side-navigation" icon="menu" class="white-text"></paper-icon-button>
      </div>
    {{/if}}
    
    {{#if showLogo}}
      <div layout horizontal center>
        <!-- <h5><a href="{{pathFor 'home'}}" class="white-text">SARAI Template</a></h5> -->
        <a href="{{pathFor 'home'}}" style="margin-top:10px;"><img src="/images/seal-govph.png"> </a>
      </div>
    {{/if}}

    

    {{#if showTopNavMenu}}
      <div id="top-nav-menu" layout horizontal center>
        {{#each menuArray}}
          {{#if hasChild}}
            
            <!-- <paper-button class="black white-text navigation" data-path="{{path}} ">
              {{#if linkInside}}
                {{#linkTo route=path}}
                  {{name}}
                {{/linkTo}}

              {{else}}
                <a href="{{path}}">{{name}}</a>
              {{/if}}
            </paper-button> -->
            <core-menu>
              <core-submenu label="{{name}}" class="black white-text navigation" >
                    {{#each sublinks}}
                    <core-item id="{{name}}" label="{{name}}">
                      {{#if linkInside}}
                        {{#linkTo route=path}}
                         
                        {{/linkTo}}
                      {{else}}
                        <a href="{{path}}">{{name}}</a>
                      {{/if}}
                    </core-item>
                    {{/each}}
              </core-submenu>
            </core-menu>




          {{else}}

            <paper-button class="black white-text navigation" data-path="{{path}}">
              {{#if linkInside}}
                {{#linkTo route=path}}
                  {{name}}
                {{/linkTo}}
              {{else}}
                <a href="{{path}}">{{name}}</a>
              {{/if}}
            </paper-button>

          {{/if}}
        {{/each}}
      </div>
      
      
    {{/if}}
    <div flex></div>
    {{#if isTopNav}}
      <div id="login-area">
        {{> loginButtons align="right"}}
      </div>
    {{/if}}
    
    
  </core-toolbar>
  {{#if showSideNavMenu}}
    
    <core-menu id="side-nav-menu">
      {{#each menuArray}}
        <paper-item class="black-text navigation">
          {{#if linkInside}}
            {{#linkTo route=path}}
              {{name}}
            {{/linkTo}}
          {{else}}
            <a href="{{path}}">{{name}}</a>
          {{/if}}
          
        </paper-item>
      {{/each}}
    </core-menu>
  {{/if}}
</template>
