<template name="footer">
    <div style=" width: 100%; padding: 10px; text-align: center; ">
    <img src="/images/logos/DOST.jpg" style="height:80px; width:80px;">
    <img src="/images/logos/uplb.png" style="height:80px; width:90px;">
    <img src="/images/logos/PCAARRD.gif" style="height:80px; width:80px;">

    <br>
    <img src="/images/logos/SARAI.png" style="height:100px; width:150px;">
    <br>
    IN PARTNERSHIP WITH
    <br>
    <img src="/images/logos/ASTi.jpg" style="height:70px; width:60px;">
    <img src="/images/logos/BPSU.jpg" style="height:60px; width:60px;">	
    <img src="/images/logos/BSWM.png" style="height:60px; width:60px;">	
    <img src="/images/logos/CAVSU.jpg" style="height:60px; width:60px;">
    <img src="/images/logos/CLSU.jpg" style="height:60px; width:60px;">
    <img src="/images/logos/CMU.jpg" style="height:60px; width:60px;">	
    <img src="/images/logos/CTU.jpg" style="height:60px; width:60px;">	
    <img src="/images/logos/DA.gif" style="height:60px; width:60px;">	
    <img src="/images/logos/IBM.png" style="height:50px; width:90px;">
    <img src="/images/logos/IESM.jpg" style="height:60px; width:60px;">	
    <img src="/images/logos/ISU.png" style="height:60px; width:60px;">	
    <img src="/images/logos/MinSCAT.jpg" style="height:60px; width:60px;">	
    <br>
    <img src="/images/logos/MOSCAT.jpg" style="height:60px; width:60px;">
    <img src="/images/logos/NIGS.jpg" style="height:60px; width:60px;">	
    <img src="/images/logos/PAGASA.png" style="height:60px; width:60px;">	
    <img src="/images/logos/PCA.jpg" style="height:60px; width:60px;">
    <img src="/images/logos/PhilRice.jpg" style="height:50px; width:90px;">
    <img src="/images/logos/SMART.jpg" style="height:50px; width:90px;">	
    <img src="/images/logos/USM.png" style="height:60px; width:60px;">	
    <img src="/images/logos/WPU.jpg" style="height:60px; width:60px;">
    <img src="/images/logos/WVSU.jpg" style="height:60px; width:60px;">
    </div>

</template>